section{
    height: 1000vh;
}

.post1{
        display: flex;
        flex-direction: row;
}

.banner{
    display: flex;
    flex-direction: column;
    position: relative;
    left:15%;
    top: 50px;
    justify-content: space-evenly;
    width:px;
    height:450px;
    padding: 30px;
    background-color: rgba(192, 190, 190, 0.158);
}
.left span {
    color: rgb(167, 37, 123);
    font-size: 35px;
    font-weight:bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
.poster ul {
    display: flex;
    height:100%;
    justify-content: space-between;
    list-style-type: none;
}
.poster  ul li {
    display: flex;
    padding: 15px;
}
/* .poster .post2::after {
    content: "|";

    color: rgba(0, 0, 0, 0.671);
} */
.banner2 .poster2 img{
    width:600px;
    height:450px;
}
.poster1{
    background-color: rgba(150, 14, 136, 0.877);
    color: white;
    width:100%;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.poster2{
    position: relative;
    left:30px;
    bottom: 30px;
}
.section-title {
    display: flex;
    align-items: center;
    text-align: center;
    font-size:30px;
    font-weight: bold;
    color: #61065c;
    margin-top: 120px;
}

.section-title::before,
.section-title::after {
    content: "";
    flex: 1;
    height: 3px;
    background-color: #5d0e6d; /* Light purple line */
    margin: 0 100px; /* Adjust spacing */
}
.banner3 img {
    width:80%;
    height:80%;
    position: relative;
    top: 40px;
    left: 155px;
}
                             /*banner2 first container  */
.post-2{
    background: url("https://media.istockphoto.com/id/1387666645/vector/abstract-soft-varicoloured-background-vector-illustration-for-different-screen-designs.jpg?s=612x612&w=0&k=20&c=11RLWjE6VK-pFsOeJNWN2wB_5lX8XxgykqsChyb6vDY=");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border-radius: 30px;
    height:85vh;
    width:80vw;
    position: relative;
    left:10%;
    top: 50px;
}
.post-2 h1{
    font-size: 30px;
    /* margin-top: 100px; */
}
.post-2 .banner-1{
    height:60vh;
    width: 48vh;
    position: relative;
    left:60px;
    top: 20%;
}
h3{
    font-weight: bolder;
    color: rebeccapurple;
    font-size: 25px;
}
.imgbanner1{
    width: 120px;
    height: 128px;
}
.post-banner{
    display: flex;
    flex-direction: column;
}
.container{
    background-color:rgb(240, 248, 255);
    width:fit-content;
    padding: 15px;
    /* gap: 10px; */
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    height:60vh;
    position: relative;
    /* left: 50px; */
    /* top: 50px;  */
    border-radius: 20px;
   
}
.post-banner1 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap:40px;
}
.post-banner span{
    position: relative;
    top: 15px;
    font-weight: bolder;
    font-size: 16px;
}
                  /* banner 2 second container */
.imgbanner2{
    width: 100px;
    height: 100px;
}
.post-2 .banner-2{
    height:fit-content;
    width:fit-content;
    position: relative;
    top: 25%;
    left:10%; 
}
.container-1{
    background-color:rgb(240, 248, 255);
    width: 340px;
    padding: 10px;
    gap: 10px;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    height: 400px;
    border-radius: 20px;
    /* left: 50%; */
}
  .post-banner2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap:70px;
}
.post-banner2 span{
    position: relative;
    top: 15px;
    font-weight: bolder;
    font-size: 16px;
}
/* banner2 3rd container */
.post-2 .banner-3{
    position: relative;
    width:fit-content;
    height: fit-content;
    top: 25%;
    left:15%;
}
.imgbanner3 {
    width: 100px;
    height: 100px;
}
.container-2 {
    background-color:rgb(240, 248, 255);
    width: 330px;
    /* padding: 15px; */
    gap: 10px;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    height: 400px;
    position: relative;
    /* left: 180px; */
    border-radius: 20px;
   
}
 .banner-3 .post-banner3 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap:70px;
}
.post-banner3 span{
    position: relative;
    top: 15px;
    font-weight: bolder;
    font-size: 16px;
}

/* Banner3 container & content  */
/* https://images.stockcake.com/public/4/c/e/4ce90c90-8236-4e2e-a582-c9e1630b2445_large/floating-bubble-paradise-stockcake.jpg */
.post-3 {
    background-image:url("https://media.istockphoto.com/id/1387666645/vector/abstract-soft-varicoloured-background-vector-illustration-for-different-screen-designs.jpg?s=612x612&w=0&k=20&c=11RLWjE6VK-pFsOeJNWN2wB_5lX8XxgykqsChyb6vDY=");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border-radius: 30px;
    height: 80vh;
    width: 80vw;
    position: relative;
    top:130px;
    left:10%;
}      
.post-3 .child-banner {
    background-color: white;
    border-radius: 25px;
    height: 420px;
    width: 200px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap: wrap;
}
.content-1 .child-banner{
    margin-right: 50px;
}
.child-banner img{
    height: 100px;
    width: 120px;
    border: 2px solid rgba(0, 0, 0, 0.297);
    border-radius: 25px;
}
.post-3 .content-1 span {
    background-color: rgba(247, 211, 8, 0.9);
    display: block;
    width: 180px;
    height: 30px;
    font-size: 20px;
    border-radius: 25px;
    color: white;
    text-align: center;
    position: relative;
    top: 25px;
    left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.post-3 .headname{
    width: 30%; 
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    position: relative;
    top: 175px;
    left: 40px;
}
.post-3 .headname h2 {
    font-size: 80px;
    color: white;
    -webkit-text-stroke: 1px rgba(255, 217, 0, 0.66);   
}
.post-3 .headname button{
    width: 180px;
    height: 50px;
    outline: none;
    background-color:white ;
    border-radius: 25px;
    background-color: gold;
    position: relative;
    top: 25px;
   
}
.post-3 .headname button a{
    color: white;
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: 1px rgba(255, 217, 0, 0.66); 
}
 .post-4{
    margin-top: 80px;
}
.content-1 {
    display: flex;
    position: relative;
    top: 10%;
    left:10%;
    height: fit-content;
} 
